.body {
  max-width: 1000px;
}

.h2 {
  font-weight: bold;
  letter-spacing: .25rem;
}

.images-sections {
  width: 70%;
}

@media (max-width: 995px) {
  .images-sections {
    width: 70%;
  }
}

@media (max-width: 770px) {
  .images-sections {
    width: 80%;
  }
}

@media (max-width:640px) {

  .estufa {
    width: 100%;
  }

  .images-sections {
    width: 100%;
  }
}